<div class="form-container">
  <h2>Editar Categoria</h2>
  <button class="close-button" (click)="closeDialog()">×</button>
  <form class="ticket-form" [formGroup]="formEditCategoria" (ngSubmit)="save()">
    <div class="form-group">
      <label for="title">Nombre:</label>
      <input type="text" formControlName="categoria_name" class="form-control">
    </div>
    <div class="form-group">
      <label for="title">Descripcion:</label>
      <textarea  type="text" formControlName="description" class="form-control custom-description" rows="3"></textarea>
    </div>

    <button type="submit"  class="submit-button" [disabled]="!formEditCategoria.valid">Guardar</button>
  </form>
</div>

