/* editar-categoria.component.css */

/* General */
.mat-dialog-content {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Etiquetas */
label {
  font-weight: bold;
  margin-bottom: 5px;
}

.custom-description {
  width: 100%;
  height: 50px;
}


/* Campos de entrada */
input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
  border-color: #007bff;
}

/* Botones */
button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #007bff;
  color: white;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.dialog-actions-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel-btn, .save-btn {
  margin-right: 10px; /* Ajusta este valor según la cantidad de separación deseada */
}
