/* Container for centering the form */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

/* Form styling */
.login-form {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Form header styling */
.login-form h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Form group styling */
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

/* Label styling */
.login-form label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

/* Input styling */
.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

/* Button styling */
.btn-submit {
  width: 100%;
  padding: 10px;
  background-color: #326DE7;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #326DE7;
}

/* Add success class for the visual effect */
.login-form.success {
  border-color: #28a745;
  animation: success-animation 0.5s forwards;
}

/* Define the animation */
@keyframes success-animation {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
