<!-- <div class="container">
  <div class="half-screen">
    <img src="{{ producto?.img }}" alt="{{ producto?.nombre }}" class="product-image">
  </div>
  <div class="details">
    <h1>{{ producto?.nombre }}</h1>
    <p class="description">{{ producto?.descripcion }}</p>
    <p class="description">Categoria: {{producto?.categoria?.nombre}}</p>
    <p class="price">Precio: {{ producto?.precio | currency : 'USD' }}</p>


  </div>
</div> -->
<img src="{{ producto?.ficha_p }}" alt="{{ producto?.ficha_p }}" class="product-image">


<div class="btn-group">
  <a href="{{ producto?.pdf }}" class="btn btn-info"> Ver PDF</a>
</div>
