.product-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease;
  object-fit: contain;
  max-height: 800px; /* Ajusta este valor según tus necesidades */
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.product-image:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.product-image {
  animation: fadeIn 0.5s ease-out;
}
