<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4 mr-auto"> <!-- Añade mr-auto para mover hacia la izquierda -->
        <div class="footer-logo">
          <img src="img/logo-f.png" alt="Logo" class="img-fluid">
        </div>
        <div class="section-titleEnc"><i class='bx bx-map icon-wrapper'></i>Encuéntranos en</div>
        <div style="margin: 0; padding: 0;">
          <p style="margin: 0;"><strong>Oficina Principal</strong></p>
          <p style="margin: 0;">Calle Dinamarca 109 Urb. Monserrate - Trujillo - La Libertad</p>
        </div>
        <div style="margin: 0; padding: 0; margin-top: 15px;">
            <div style="margin: 0;">
                <p style="margin: 0;"><strong>Sede Moche - La Libertad</strong></p>
                <p style="margin: 0;">Bar. El Rosario 110 - Moche</p>
            </div>
            <div style="margin: 0;">
                <p style="margin: 0; margin-top: 15px;"><strong>Sede Lima</strong></p>
                <p style="margin: 0;">Av. Arenales Num. 773 Dpto. 803 Urb. Santa Beatriz - Lima</p>
            </div>
            <div style="margin: 0;">
                <p style="margin: 0; margin-top: 15px;"><strong>Sede Ica</strong></p>
                <p style="margin: 0;">Parcela Nº 205 Sub Lote A (Carr. Panamericana Sur Km. 298.2) - Subtanjalla Ica</p>
            </div>
            <div style="margin: 0;">
                <p style="margin: 0; margin-top: 15px;"><strong>Sede Chiclayo</strong></p>
                <p style="margin: 0;">Av. Ampliacion Urbana La Victoria - Chosica Del Norte Mz 20 Lt 03 Chiclayo</p>
            </div>
        </div>

        <div class="social-icons mt-3">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mx-auto">

        <div class="section-title"><i class='bx bx-phone icon-wrapper'></i>Comunícate al</div>
        <p>(044) 222 333</p>
        <p>+51 943222090</p>
        <p>+51 943222090</p>

        <div class="section-title-Tc with-margin"><i class='bx bx-user icon-wrapper'></i>Trabaja con nosotros</div>
        <a href="#">Libro de reclamaciones</a>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mx-auto">

        <div class="section-title"><i class='bx bx-envelope icon-wrapper'></i>Escríbenos</div>
        <p>sistemas.afagroup&#64;gmail.com</p>
        <p>sistemas.afagroup&#64;gmail.com</p>
        <p>sistemas.afagroup&#64;gmail.com</p>
        <div class="section-title-At with-margin"><i class='bx bx-user-circle icon-wrapper'></i>Atención al cliente y reclamos</div>
        <p>+51 954555888</p>
      </div>
    </div>
    <div class="text-center mt-4">
      <p>Afa Group</p>
      <p> &copy; Todos los derechos reservados 2024</p>
    </div>
  </div>


</footer>

