:root {
    --blue: #007bff;
    --primary: #326DE7;
    --secondary: #F2F1F8;
    --light: #FFFFFF;
    --dark: #44425A;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Poppins", sans-serif;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6C6A74;
    text-align: left;
    background-color: #fff;
  }
  /* Media query para tabletas */
  @media (max-width: 768px) {
    .subtitle {
      font-family: poppins;
      font-size: 14px;
      font-weight: 300;
      color: #757474;
      text-align: center;
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }

    .subtitle::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 70px;
      height: 3px;
      background-color: #4285f4;
    }
    .card {
        width: calc(33.33% - 20px);
        margin: 10px;
    }

    .card-content {
        padding: 20px;
    }

    .card-content h3 {
        font-size: 18px;
    }

    .card-content p {
        font-size: 12px;
    }
  }

  /* Media query para dispositivos móviles */
  @media (max-width: 576px) {
    .subtitle {
      font-family: poppins;
      font-size: 14px;
      font-weight: 300;
      color: #757474;
      text-align: center;
      position: relative;
      padding-bottom: 10px;
      margin-bottom: 30px;
    }

    .subtitle::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 70px;
      height: 3px;
      background-color: #4285f4;
    }
    .card {
        width: calc(50% - 20px);
    }

    .card-content {
        padding: 15px;
    }

    .card-content h3 {
        font-size: 16px;
    }

    .card-content p {
        font-size: 11px;
    }
  }

  .team-section {
    text-align: center;
    margin: 20px;
  }

  .team-title {
    font-weight: 300; /* Usar un valor numérico para un peso más delgado */
    font-size: 24px;
    margin-bottom: 10px;
  }

  .team-content .team-line {
    width: 60px;
    height: 3px;
    background-color: #007bff;
    margin: 0 auto 20px auto;
  }

  .team-content p {
    font-weight: 300; /* Usar un valor numérico para un peso más delgado */
    font-size: 16px;
    color: #555;
  }

  /* Media query para tabletas */
  @media (max-width: 768px) {
    .card {
        width: calc(33.33% - 20px);
        margin: 10px;
    }

    .card-content {
        padding: 20px;
    }

    .card-content h3 {
        font-size: 18px;
    }

    .card-content p {
        font-size: 12px;
    }
  }

  /* Media query para dispositivos móviles */
  @media (max-width: 576px) {
    .card {
        width: calc(50% - 20px);
    }

    .card-content {
        padding: 15px;
    }

    .card-content h3 {
        font-size: 16px;
    }

    .card-content p {
        font-size: 11px;
    }
  }

/*Imagenes*/

.custom-slider {
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
  padding-top: 7rem;
}

.custom-slider .custom-slide-track {
  display: flex;
  animation: custom-scroll 40s linear infinite;
  -webkit-animation: custom-scroll 40s linear infinite;
  width: calc((200px + 20px) * 14);
  gap: 20px;
}

.custom-slider .custom-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.custom-slider .custom-slide {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes custom-scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-1 * (200px + 20px) * 7));
      transform: translateX(calc(-1 * (200px + 20px) * 7));
  }
}
/* marcas registradas */
.subtitle {
  font-family: poppins;
  font-size: 24px;
  font-weight: 300;
  color: #757474;
  text-align: center;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.subtitle::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 3px;
  background-color: #4285f4;
}
