<style>
  .custom-focus-ring:focus {
    outline: none;
    border-color: #326DE7; /* Actualiza el borde al color deseado */
    box-shadow: 0 0 0 3px rgba(50, 109, 231, 0.5); /* Añade un anillo de enfoque */
  }
  </style>

  <!-- Container -->
  <div class="container d-flex flex-wrap min-vh-100 align-items-center justify-content-center">
    <!-- Login component -->
    <div class="d-flex shadow w-100 max-w-4xl mx-auto">
      <div class="d-none d-sm-flex flex-wrap align-items-center justify-content-center rounded-end" style="height: 35rem; width: 35rem;">
        <img class="w-100 h-100 bg-center bg-no-repeat bg-cover rounded-end" src="img/contactenos.jpeg">
      </div>
      <!-- Login form -->
      <div class="d-flex flex-wrap align-items-center justify-content-center rounded-start bg-white w-100 p-4" style="height: 32rem;">
        <div class="w-100 w-sm-75">
          <!-- Heading -->
          <h1 class="h5 font-weight-semibold">Contáctenos</h1>
          <!-- Form -->
          <form class="mt-3">
            <div class="mb-3">
              <label class="mb-2 d-block text-xs font-weight-semibold">Nombre y Apellidos</label>
              <input type="text" placeholder="Nombre y Apellidos" class="form-control custom-focus-ring" />
            </div>

            <div class="mb-3">
              <label class="mb-2 d-block text-xs font-weight-semibold">Email</label>
              <input type="email" placeholder="Enter your email" class="form-control custom-focus-ring" />
            </div>

            <div class="mb-3">
              <label class="mb-2 d-block text-xs font-weight-semibold">Celular</label>
              <input type="text" placeholder="Celular" class="form-control custom-focus-ring" />
            </div>

            <div class="mb-3">
              <label class="mb-2 d-block text-xs font-weight-semibold">Ciudad</label>
              <input type="text" placeholder="Ciudad" class="form-control custom-focus-ring" />
            </div>

            <div class="mb-3">
              <label class="mb-2 d-block text-xs font-weight-semibold">Mensaje</label>
              <input type="text" placeholder="Mensaje" class="form-control custom-focus-ring" />
            </div>

            <div class="mb-3">
              <button class="mb-2 w-100 btn text-white bg-primary custom-focus-ring">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <div class="tt mb-3 d-flex">
        <button class="btn btn-primary btn-rect" (click)="setCenter(-8.1487078, -79.040944)">Sede Trujillo</button>
        <button class="btn btn-primary btn-rect" (click)="setCenter(-8.1714148, -79.008936)">Sede Moche</button>
        <button class="btn btn-primary btn-rect" (click)="setCenter(-6.7714616, -79.8387175)">Sede Chiclayo</button>
        <button class="btn btn-primary btn-rect" (click)="setCenter(-6.034721374511719, -76.97469329833984)">Sede Ica</button>
        <button class="btn btn-primary btn-rect" (click)="setCenter(-12.0621065, -77.0365256)">Sede Lima</button>
      </div>
      <google-map height="400px" width="800px" [center]="center" [zoom]="zoom" style="margin-bottom: 20px;">
        <map-heatmap-layer [data]="heatmapData" [options]="heatmapOptions"></map-heatmap-layer>
      </google-map>
    </div>
  </div>




