<style>
  .custom-focus-ring:focus {
    outline: none;
    border-color: #326DE7; /* Actualiza el borde al color deseado */
    box-shadow: 0 0 0 3px rgba(50, 109, 231, 0.5); /* Añade un anillo de enfoque */
  }
</style>

<!-- Contenedor principal -->
<div class="container d-flex flex-wrap min-vh-100 align-items-center justify-content-center">
  <!-- Contenido -->
  <div class="shadow w-100 max-w-4xl mx-auto d-flex flex-wrap align-items-center justify-content-center">
    <!-- Imagen a la izquierda en pantallas grandes -->
    <div class="d-none d-lg-flex align-items-center justify-content-center rounded-start" style="flex: 0 0 35%; height: 30rem;">
      <img class="w-100 h-100 bg-center bg-no-repeat bg-cover rounded-start" src="img/contactenos.jpeg" alt="Contact Image">
    </div>
    <!-- Formulario -->
    <div class="d-flex flex-wrap align-items-center justify-content-center rounded-end bg-white w-100 p-4" style="flex: 1; max-width: 65%; height: 30rem;">
      <div class="w-100">
        <!-- Encabezado -->
        <h1 class="h5 font-weight-semibold">Contáctenos</h1>
        <!-- Formulario -->
        <form class="mt-2">
          <div class="row mb-2">
            <div class="col-md-6 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">Nombre y Apellidos</label>
              <input type="text" placeholder="Nombre y Apellidos" class="form-control custom-focus-ring">
            </div>
            <div class="col-md-6 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">Email</label>
              <input type="email" placeholder="Enter your email" class="form-control custom-focus-ring">
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-6 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">Celular</label>
              <input type="text" placeholder="Celular" class="form-control custom-focus-ring">
            </div>
            <div class="col-md-6 mb-2">
              <label class="mb-1 d-block text-xs font-weight-semibold">Ciudad</label>
              <input type="text" placeholder="Ciudad" class="form-control custom-focus-ring">
            </div>
          </div>

          <div class="mb-2">
            <label class="mb-1 d-block text-xs font-weight-semibold">Mensaje</label>
            <textarea placeholder="Mensaje" class="form-control custom-focus-ring" rows="4"></textarea>
          </div>

          <div class="mb-2">
            <button class="mb-2 w-100 btn text-white bg-primary custom-focus-ring">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



  <div class="container">
    <div class="d-flex flex-column align-items-center">
      <div class="tt mb-3 d-flex">
        <button class="btn btn-primary btn-rect" (click)="setCenter(-8.1487078, -79.040944)">Sede Trujillo</button>
        <button class="btn btn-primary btn-rect" (click)="setCenter(-8.1714148, -79.008936)">Sede Moche</button>
        <button class="btn btn-primary btn-rect" (click)="setCenter(-6.7714616, -79.8387175)">Sede Chiclayo</button>
        <button class="btn btn-primary btn-rect" (click)="setCenter(-6.034721374511719, -76.97469329833984)">Sede Ica</button>
        <button class="btn btn-primary btn-rect" (click)="setCenter(-12.0621065, -77.0365256)">Sede Lima</button>
      </div>
      <google-map height="400px" width="800px" [center]="center" [zoom]="zoom" style="margin-bottom: 20px;">
        <map-heatmap-layer [data]="heatmapData" [options]="heatmapOptions"></map-heatmap-layer>
      </google-map>
    </div>
  </div>




