<style>
    .custom-focus-ring {
    border-color: #326DE7;
  }
  
  .custom-focus-ring:focus {
    outline: none;
    border-color: #326DE7; /* Actualiza el borde al color deseado */
    box-shadow: 0 0 0 3px rgba(50, 109, 231, 0.5); /* Añade un anillo de enfoque */
  }
  </style>
  
  <!-- Container -->
  <div class="flex flex-wrap min-h-screen w-full content-center justify-center">
  
    <!-- Login component -->
    <div class="flex shadow-md w-full max-w-4xl mx-auto">
      <div class="hidden sm:flex flex-wrap content-center justify-center rounded-r-md w-140" style="height: 32rem;">
        <img class="w-full h-full bg-center bg-no-repeat bg-cover rounded-r-md" src="assets/img/contactenos.jpeg">
      </div>
      <!-- Login form -->
      <div class="flex flex-wrap content-center justify-center rounded-l-md bg-white w-full sm:w-96 p-6 sm:p-0" style="height: 32rem;">
        <div class="w-full sm:w-72">
          <!-- Heading -->
          <h1 class="text-xl font-semibold">Contactenos</h1>
  
  
          <!-- Form -->
  
          <form class="mt-4">
  
            <div class="mb-3">
              <label class="mb-2 block text-xs font-semibold">Nombre y Apellidos</label>
              <input type="text" placeholder="Nombre y Apellidos" class="block w-full rounded-md border border-gray-300 focus:border-[#326DE7] focus:outline-none focus:ring-1 focus:ring-[#326DE7] py-1 px-1.5 text-gray-500" />
            </div>
  
            <div class="mb-3 content-center justify-center">
              <label class="mb-2 block text-xs font-semibold">Email</label>
              <input type="email" placeholder="Enter your email" class="block w-full rounded-md border border-gray-300 focus:border-[#326DE7] focus:outline-none focus:ring-1 focus:ring-[#326DE7] py-1 px-1.5 text-gray-500" />
            </div>
  
            <div class="mb-3">
              <label class="mb-2 block text-xs font-semibold">Celular</label>
              <input type="text" placeholder="Celular" class="block w-full rounded-md border border-gray-300 focus:border-[#326DE7] focus:outline-none focus:ring-1 focus:ring-[#326DE7] py-1 px-1.5 text-gray-500" />
            </div>
  
            <div class="mb-3">
              <label class="mb-2 block text-xs font-semibold">Ciudad</label>
              <input type="text" placeholder="Ciudad" class="block w-full rounded-md border border-gray-300 focus:border-[#326DE7] focus:outline-none focus:ring-1 focus:ring-[#326DE7] py-1 px-1.5 text-gray-500" />
            </div>
  
            <div class="mb-3">
              <label class="mb-2 block text-xs font-semibold">Mensaje</label>
              <input type="text" placeholder="Mensaje" class="block w-full rounded-md border border-gray-300 focus:border-[#326DE7] focus:outline-none focus:ring-1 focus:ring-[#326DE7] py-1 px-1.5 text-gray-500" />
            </div>
  
            <div class="mb-3">
              <button class="mb-1.5 block w-full text-center text-white bg-cyan-200 hover:bg-[#2851a3] px-2 py-1.5 rounded-md">Enviar</button>
            </div>
  
          </form>
  
        </div>
      </div>
    </div>
  
  </div>
  
