.container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alinea los elementos arriba */
  padding: 20px;
  background-color: #f9f9f9; /* Fondo ligeramente gris */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 800px;
  max-height: 400px;/* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar en la página */
  padding-bottom: 5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.half-screen {
  flex: 1; /* Ocupa el 50% del ancho disponible */
  padding-right: 20px; /* Espacio entre la imagen y los detalles */
  position: relative; /* Posición relativa para la animación */
  overflow: hidden; /* Oculta partes de la imagen que se salen */
}

.product-image {
  width: 100%; /* Imagen ocupa todo el espacio disponible */
  display: block; /* Elimina espacio adicional debajo de la imagen */
  border-radius: 8px;/* Bordes redondeados para la imagen */
  max-width: 500px;
  max-height: 900px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  transition: transform 0.3s ease; /* Transición para la animación */
}

.product-image:hover {
  transform: scale(1.1); /* Agrandar la imagen al pasar el mouse */
}

.details {
  flex: 1; /* Ocupa el 50% restante del ancho disponible */
  padding: 0 20px; /* Espacio interno para los detalles */
}

.details h1 {
  margin-top: 30px; /* Elimina el margen superior de h1 */
  font-size: 2rem; /* Tamaño grande para el título del producto */
  color: #333;
  text-align: center;/* Color del texto oscuro */
  font-family: "Poppins", sans-serif;
}

.details .description {
  font-size: 1rem; /* Tamaño de fuente para la descripción */
  color: #555; /* Color de texto gris oscuro */
  line-height: 1.6; /* Espaciado entre líneas para mejor legibilidad */
  margin-top: 20px;
  margin-bottom: 20px; /* Espacio inferior para separación */
  font-family: "Poppins", sans-serif;
}

.details .price {
  font-size: 1.8rem; /* Tamaño de fuente para el precio */
  color: #0277bd; /* Color de texto verde (precio) */
  margin-top: 10px;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  margin-top: 20px; /* Espacio superior para el botón */
  font-size: 1rem; /* Tamaño de fuente del botón */
  color: #ffffff;
  background-color: #0288d1;
  border: none; /* Sin borde */
  border-radius: 25px;
  text-decoration: none;
  text-transform: uppercase; /* Texto en mayúsculas */
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0277bd; /* Color de fondo al pasar el mouse */
}
