<div class="hero-section">
  <h1>Cotizaciones de la web</h1>
</div>

<table class="task-table">
  <thead>
    <tr>
      <th>Razón social</th>
      <th>Nombre</th>
      <th>RUC</th>
      <th>Ver detalles</th>
      <th>Estado</th>
    </tr>
  </thead>
  @for (carrito of cotizacionWeb; track $index) {
  <tbody>
    <tr>
      <td data-label="Razón social">
        <div class="title">{{carrito.empresa}}</div>
      </td>
      <td data-label="Nombre">
        <div class="title">{{carrito.nombre}}</div>
      </td>
      <td data-label="RUC">
        <div class="title">{{carrito.ruc}}</div>
      </td>
      <td data-label="Ver detalles">
        <div class="action-icons">
          <i class="fas fa-eye" style="color: #326DE7; font-size: 20px; cursor: pointer;"
            (click)="verDetalle(carrito.carrito_id)"></i>
        </div>
      </td>
      <td data-label="Estado">
        <span [class]="getEstadoClass(carrito.carrito_id)">
          {{getEstadoText(carrito.carrito_id)}}
        </span>
      </td>
    </tr>
  </tbody>
  }
</table>
