<div class="form-container">
  <h2>Agregue una nueva categroría</h2>
  <form class="ticket-form" [formGroup]="formCategoria" (ngSubmit)="save()">
    <div class="form-group">
      <label for="title">Nombre</label>
      <input type="text" formControlName="categoria_name" id="categoria_name" name="categoria_name" required>
    </div>
    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea id="description" formControlName="description" name="description" rows="3"></textarea>
    </div>
    <button type="submit"  class="submit-button" cdkFocusInitial type="submit" [disabled]="!formCategoria.valid">Agregar categoría</button>
  </form>
</div>

