.cont-todo {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

app-sidebar {
  flex-shrink: 0;
  transition: width 0.3s ease;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 270px; /* Ancho de sidebar extendido */
  transition: margin-left 0.3s ease;
  overflow-y: auto;
  background-color: #f4f6f9;
}

.main-content.sidebar-collapsed {
  margin-left: 80px; /* Ancho de sidebar colapsado */
}
