<nav class="sidebar">
  <div class="logo">
      <img src="/img/lg.png" width="40px" alt="Logo" class="icon-md">
      <span>AFA GROUP</span>
  </div>
  <div class="menu-section">
      <h3>HOME</h3>
      <ul>
          <li routerLink="/admin/inicio" routerLinkActive="active"><i class="fas fa-chart-line"></i> Analítica</li>
          <li routerLink="" routerLinkActive="active"><i class="fas fa-globe custom-icon"></i> Página Web</li>
      </ul>
  </div>
  <div class="menu-section">
      <h3>SECTIONS</h3>
      <ul>
          <li routerLink="/admin/categoriasA" routerLinkActive="active"><i class="fas fa-th-list custom-icon"></i> Categorías</li>
          <li routerLink="/admin/repuestosA" routerLinkActive="active"><i class="fas fa-box-open custom-icon"></i> Repuestos</li>
          <li routerLink="/admin/equiposA" routerLinkActive="active"><i class="fas fa-truck-monster custom-icon"></i> Equipos</li>
          <li routerLink="/admin/blogA" routerLinkActive="active"><i class="fas fa-envelope"></i>Blog</li>
          <li routerLink="/admin/contactoA" routerLinkActive="active"><i class="fas fa-envelope"></i>Contactos</li>

      </ul>
  </div>
  <button class="logout-btn">Cerrar sesión</button> <!-- Botón de cerrar sesión -->
  <div class="user-profile">
      <img src="img/lg.png" width="40px" alt="User" class="avatar-md">
      <div>
          <span class="user-name">Afa Group</span>
          <span class="user-role">Admin</span>
      </div>
  </div>
</nav>
