<nav class="sidebar" [ngClass]="{'sidebar-open': isSidebarOpen, 'sidebar-collapsed': !isSidebarOpen}">
  <div class="logo">
      <img src="/img/lg.png" width="40px" alt="Logo" class="icon-md" (click)="toggleSidebar()">
      <span class="logo-text" [class.hidden]="!isSidebarOpen">AFA GROUP</span>
  </div>
  <div class="menu-section">
      <h3 [class.hidden]="!isSidebarOpen">HOME</h3>
      <ul>
          <li routerLink="/admin/inicio" routerLinkActive="active">
              <i class="fas fa-chart-line"></i>
              <span class="menu-text" [class.hidden]="!isSidebarOpen">Analítica</span>
          </li>
          <li routerLink="" routerLinkActive="active">
              <i class="fas fa-globe custom-icon"></i>
              <span class="menu-text" [class.hidden]="!isSidebarOpen">Página Web</span>
          </li>
      </ul>
  </div>
  <div class="menu-section">
      <h3 [class.hidden]="!isSidebarOpen">SECCIONES</h3>
      <ul>
          <li routerLink="/admin/categoriasA" routerLinkActive="active">
              <i class="fas fa-th-list custom-icon"></i>
              <span class="menu-text" [class.hidden]="!isSidebarOpen">Categorías</span>
          </li>
          <li routerLink="/admin/repuestosA" routerLinkActive="active">
              <i class="fas fa-store custom-icon"></i>
              <span class="menu-text" [class.hidden]="!isSidebarOpen">Producto</span>
          </li>
          <li routerLink="/admin/cliente" routerLinkActive="active">
            <i class="fas fa-id-card custom-icon"></i>
            <span class="menu-text" [class.hidden]="!isSidebarOpen">Clientes</span>
          </li>
          <li routerLink="/admin/cotizacionWeb" routerLinkActive="active">
            <i class="fas fa-shopping-cart"></i>
            <span class="menu-text" [class.hidden]="!isSidebarOpen">Cotizaciones web</span>
          </li>
          <li routerLink="/admin/noticiaA" routerLinkActive="active">
              <i class="fas fa-newspaper"></i>
              <span class="menu-text" [class.hidden]="!isSidebarOpen">Noticia</span>
          </li>
          <li routerLink="/admin/contactoA" routerLinkActive="active">
              <i class="fas fa-envelope"></i>
              <span class="menu-text" [class.hidden]="!isSidebarOpen">Contactos</span>
          </li>
      </ul>
  </div>
  <button class="logout-btn" [class.hidden]="!isSidebarOpen" routerLink="/login">
    <i class="fas fa-sign-out-alt"></i>
    <span span class="menu-text" [class.hidden]="!isSidebarOpen">Cerrar sesión</span>
  </button>

  <!-- <div class="user-profile">
      <img src="img/lg.png" width="40px" alt="User" class="avatar-md">
      <div [class.hidden]="!isSidebarOpen">
          <span class="user-name">Afa Group</span>
          <span class="user-role">Admin</span>
      </div>
  </div> -->
</nav>
