<nav class="sidebar" [ngClass]="{'sidebar-open': isSidebarOpen, 'sidebar-collapsed': !isSidebarOpen}">
  <div class="logo">
      <img src="/img/lg.png" width="40px" alt="Logo" class="icon-md" (click)="toggleSidebar()">
      <span class="logo-text" [class.hidden]="!isSidebarOpen">AFA GROUP</span>
  </div>

  <div class="user-info" [class.collapsed]="!isSidebarOpen">
    <i class="fas fa-user-circle"></i>
    <div class="user-details" *ngIf="isSidebarOpen">
      <span class="user-name">{{ userName }}</span>
      <span class="user-role">{{ role }}</span> <!-- o cualquier rol que desees -->
    </div>
  </div>

  <div class="menu-section">
      <h3 [class.hidden]="!isSidebarOpen">HOME</h3>
      <ul>
          <!-- <li routerLink="/admin/inicio" routerLinkActive="active">
              <i class="fas fa-chart-line"></i>
              <span class="menu-text" [class.hidden]="!isSidebarOpen">Analítica</span>
          </li> -->
          <li routerLink="" routerLinkActive="active">
              <i class="fas fa-globe custom-icon"></i>
              <span class="menu-text" [class.hidden]="!isSidebarOpen">Página Web</span>
          </li>
      </ul>
  </div>
  <div class="menu-section">
      <h3 [class.hidden]="!isSidebarOpen">SECCIONES</h3>
      <ul>
          <li routerLink="/admin/categoriasA" routerLinkActive="active">
              <i class="fas fa-th-list custom-icon"></i>
              <span class="menu-text" [class.hidden]="!isSidebarOpen">Categorías</span>
          </li>
          <li routerLink="/admin/repuestosA" routerLinkActive="active">
              <i class="fas fa-store custom-icon"></i>
              <span class="menu-text" [class.hidden]="!isSidebarOpen">Producto</span>
          </li>
          <li routerLink="/admin/cliente" routerLinkActive="active">
            <i class="fas fa-id-card custom-icon"></i>
            <span class="menu-text" [class.hidden]="!isSidebarOpen">Clientes</span>
          </li>
          <li routerLink="/admin/cotizacionWeb" routerLinkActive="active">
            <i class="fas fa-shopping-cart"></i>
            <span class="menu-text" [class.hidden]="!isSidebarOpen">Cotizaciones web</span>
          </li>
          <li routerLink="/admin/cotizacionManual" routerLinkActive="active">
              <i class="fas fa-file-invoice-dollar"></i>
              <span class="menu-text" [class.hidden]="!isSidebarOpen">Cotizaciones</span>
          </li>
          <li routerLink="/admin/contactoA" routerLinkActive="active">
              <i class="fas fa-envelope"></i>
              <span class="menu-text" [class.hidden]="!isSidebarOpen">Contactos</span>
          </li>
      </ul>
  </div>
  <button class="logout-btn" [class.hidden]="!isSidebarOpen" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i>
    <span class="menu-text" [class.hidden]="!isSidebarOpen">Cerrar sesión</span>
  </button>
</nav>
