<header class="header-container">
  <div class="header-content">
      <div class="header-title">
          <h1 class="linea">LINEA AFA TRAC</h1>
          <p class="subtitle">LOS MEJORES PRODUCTOS PARA EL SECTOR AGRÍCOLA</p>
      </div>
      <div class="header-logo">
          <img src="/img/afa_trac.png" alt="AFA Trac Logo">
          <a target="_blank" href="https://drive.google.com/file/d/1Fzrqr6YsughtT2Ubz3DUdYm2IqaPCXd2/view" class="catalog-link">Descargar Catálogo</a>
      </div>
  </div>
  <div class="header-line"></div>
</header>

<div class="container my-4">
  @for (categoria of categorias; track $index) {
    <!-- Separador de categoría -->
    <div class="categoria-separador">
      <br>
      <h2>{{categoria.categoria_name}}</h2>
      <p>{{categoria.description}}</p>
    </div>

    <!-- Contenedor de productos -->
    <div class="row">
      @for (producto of getCategoriaNombre(categoria.categoria_id); track $index) {
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card producto-card">
            <img src="{{producto.imagen_url}}" alt="{{producto.nombre_producto}}" class="card-img-top">
            <div class="card-body text-center">
              <h5 class="card-title">{{producto.nombre_comercial}}</h5>

              <!-- Botones -->
              <div class="d-flex justify-content-between mt-3">
                <button class="btn btn-detalles">🔍 Ver Detalles</button>
                <button class="btn btn-carrito" (click)="agregarAlCarrito(producto)"
                  [disabled]="producto.stock_minimo <= 0">
                  <i class="fas fa-shopping-cart"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>

  }
</div>
