
<div class="container">
  <h1 class="category-title">ATOMIZADORES</h1>
  <div *ngFor="let producto of productosFiltradosCategoria1" class="card">
    <div class="content">
      <img [src]="producto.img" alt="">
    </div>
    <div class="text">
      <h3>{{ producto.nombre }}</h3>
      <p>{{ producto.descripcion }}</p>
      <div class="btn-group">
        <a [routerLink]="['/detalle', producto.id]" class="btn btn-info">Ver Detalle</a>
        <a href="{{ producto?.pdf }}" class="btn btn-info"> Ver PDF</a>
      </div>
    </div>
  </div>

  <h1 class="category-title">PULVERIZADORES</h1>
  <div *ngFor="let producto of productosFiltradosCategoria2" class="card">
    <div class="content">
      <img [src]="producto.img" alt="">
    </div>
    <div class="text">
      <h3>{{ producto.nombre }}</h3>
      <p>{{ producto.descripcion }}</p>
      <div class="btn-group">
        <a [routerLink]="['/detalle', producto.id]" class="btn btn-info">Ver Detalle</a>
        <a href="{{ producto?.pdf }}" class="btn btn-info"> Ver PDF</a>
      </div>
    </div>
  </div>

  <h1 class="category-title">NEBULIZADORES</h1>
  <div *ngFor="let producto of productosFiltradosCategoria3" class="card">
    <div class="content">
      <img [src]="producto.img" alt="">
    </div>
    <div class="text">
      <h3>{{ producto.nombre }}</h3>
      <p>{{ producto.descripcion }}</p>
      <div class="btn-group">
        <a [routerLink]="['/detalle', producto.id]" class="btn btn-info">Ver Detalle</a>
        <a href="{{ producto?.pdf }}" class="btn btn-info"> Ver PDF</a>
      </div>
    </div>
  </div>

</div>
