<div class="container">
  <div class="card">
    <div class="content">
      <!-- Utilizamos *ngFor para iterar sobre la lista de productos -->
      @for (catalogo of productos; track $index) {
      <div>
        <img [src]="catalogo.img" alt="">
        <div class="text">
          <h3>{{ catalogo.nombre }}</h3>
          <div class="icon">
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star"></i>
            <i class="bx bxs-star-half"></i>
          </div>
          <p>{{ catalogo.descripcion }}</p>
          <p>{{ catalogo.precio }}</p>
        </div>
      </div>
      }

      <!-- Fin del bucle *ngFor -->
    </div>
  </div>
</div>