<div class="hero-section">
  <h1>Registro de Clientes</h1>
</div>

<div class="agregar">
  <div class="titulo-boton">
    <h1>Agregar cliente</h1>
    <button class="btn-celeste" (click)="openDialogCreate()">
      <i class="fas fa-plus"></i>
    </button>
  </div>

  <div class="search-container">
    <input type="text" class="search-input" placeholder="Buscar cliente..." [(ngModel)]="searchTerm" (input)="applyFilter()">
    <i class="fas fa-search search-icon"></i>
  </div>
</div>

<!--TABLA DE BD-->
<table class="task-table">
  <thead>
    <tr>
      <th>RUC</th>
      <th>Tipo de persona</th>
      <th>Razón social</th>
      <th>Tipo</th>
      <th>Documento</th>
      <th>DNI</th>
      <th>Nombre</th>
      <th>País</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Correo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  @for (cliente of filteredClientes | slice: (currentPage-1) * pageSize : currentPage * pageSize; track $index){
  <tbody>
    <tr>
      <td data-label="RUC">
        <div class="title">{{cliente.codigo_ruc}}</div>
      </td>
      <td data-label="Tipo de persona">
        <div class="title">{{cliente.tipo_persona}}</div>
      </td>
      <td data-label="Razón social">
        <div class="title">{{cliente.razon_social}}</div>
      </td>
      <td data-label="Tipo">
        <div class="title">{{cliente.tipo_empleador}}</div>
      </td>
      <td data-label="Documento">
        <div class="title">{{cliente.documento_ruc}}</div>
      </td>
      <td data-label="DNI">
        <div class="title">{{cliente.nro_dni}}</div>
      </td>
      <td data-label="Nombre">
        <div class="title">{{cliente.nombre_persona}}</div>
      </td>
      <td data-label="País">
        <div class="title">{{cliente.pais}}</div>
      </td>
      <td data-label="Dirección">
        <div class="title">{{cliente.direccion}}</div>
      </td>
      <td data-label="Teléfono">
        <div class="title">{{cliente.telefono}}</div>
      </td>
      <td data-label="Correo">
        <div class="title">{{cliente.correo}}</div>
      </td>
      <td data-label="Acciones">
        <div class="action-icons">
          <i class="fas fa-edit" style="color: #326DE7; font-size: 20px; cursor: pointer;" (click)="openDialogEdit(cliente)"></i>
          <i class="fas fa-trash" style="color: red; font-size: 20px; cursor: pointer;" (click)="deleteCliente(cliente.cliente_id)"></i>
        </div>
      </td>
    </tr>
  </tbody>
  }
</table>

<div class="pagination">
  <button class="page-link" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
    <i class="fas fa-chevron-left"></i>
  </button>

  <button class="page-link" *ngFor="let page of getPaginationArray()"
          [class.active]="page === currentPage"
          (click)="changePage(page)">
    {{ page }}
  </button>

  <button class="page-link" [disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>
