<body>
  <div class="container">
      <div class="sidebar">
          
          <nav>
              <ul>
                  <li><a id="#fabricacion">Fabricación Personalizada</a></li>
                  <li><a id="#mantenimiento">Servicio Mecánico</a></li>
                  <li><a href="#postventa">Servicio Post Venta</a></li>
              </ul>
          </nav>
      </div>
      <div class="main-content">
          <section class="fabricacion" id="fabricacion">
              <h2>Línea de Fabricación Propia y Personalizada</h2>
              <p class="p-p2">Comprendemos que cada necesidad agrícola es única. Por eso, nos especializamos en la fabricación personalizada de maquinaria de fumigación, adaptándonos a los requerimientos específicos de su cultivo y terreno.</p>
              <div class="content-block">
                  <div class="vision-content">
                      <div class="text">
                          <p class="p-1">Su visión, nuestra realidad:</p>
                          <p>Conversémos: Comparta sus necesidades y desafíos.</p>
                          <p>Diseño personalizado: Nuestro equipo de ingenieros expertos trabajará en estrecha colaboración con usted para diseñar el equipo ideal para su operación.</p>
                          <p>Simulación avanzada: Empleamos software de última generación para simular el funcionamiento del equipo en campo, garantizando un rendimiento óptimo.</p>
                          <p>Fabricación de precisión: Fabricamos su equipo con los más altos estándares de calidad, utilizando materiales de primera línea y tecnología de vanguardia. Y de acuerdo a su necesidad.</p>
                          <p>Reducción de costos: Evite inversiones en equipos que no se ajustan a sus necesidades, optimizando sus recursos y reduciendo costos a largo plazo.</p>
                          <p>Compromiso con su éxito: Su satisfacción es nuestra prioridad. Nos comprometemos a entregarle un equipo que supere sus expectativas y contribuya al éxito de su negocio agrícola.</p>
                      </div>
                      <div class="images">
                          <img src="/img/noticia_1.webp" alt="Fabricación 1">
                          <img src="/img/noticia_1.webp" alt="Fabricación 2">
                      </div>
                  </div>
              </div>
          </section>

          <section class="fabricacion" id="mantenimiento">
            <h2>Mantenimiento y Restauración</h2>
            <p class="p-p2">Brindamos un completo servicio de mantenimiento y restauración para extender la vida útil de sus equipos y garantizar su óptimo funcionamiento.</p>
            <div class="content-block">
                <div class="vision-content">
                    <div class="text">
                        <p class="p-1">Nuestro servicio integral de mantenimiento:</p>
                        <p>Inspección y diagnóstico: Nuestros técnicos especializados inspeccionan minuciosamente su equipo en fundo para identificar cualquier problema potencial y realizar un diagnóstico preciso.</p>
                        <p>Mantenimiento preventivo: Realizamos mantenimientos preventivos periódicos para mantener su equipo en óptimas condiciones, evitando averías inesperadas y prolongando su vida útil.</p>
                        <p>Mantenimiento Correctivo: Contamos con un taller equipado con herramientas de última tecnología y un equipo de técnicos altamente capacitados para reparar y restarurar equipos de fumigación de diversas marcas y modelos.</p>
                        <p>Asistencia técnica: Le brindamos asesoría técnica personalizada para el correcto uso y mantenimiento de su equipo, maximizando su rendimiento y minimizando costos.</p>
                        <p>Extender la vida útil: Con nuestros técticos especialistas, podrá recuperar la funcionalidad de su equipo y aprovechar al máximo su inversión inicial.</p>
                    </div>
                    <div class="images">
                        <img src="/img/noticia_1.webp" alt="Fabricación 1">
                        <img src="/img/noticia_1.webp" alt="Fabricación 2">
                    </div>
                </div>
            </div>
        </section>

          <section class="fabricacion" id="postventa">
            <h2>Servicio Post Venta</h2>
            <p class="p-p2">Sabemos que la inversión en equipos y repuestos agrícolas de calidad no termina con la compra. Por eso, ofrecemos un servicio postventa integral de alta disponibilidad y respuesta rápida.</p>
            <div class="content-block">
                <div class="vision-content">
                    <div class="text">
                        <p class="p-1">Nuestro compromiso con su éxito:</p>
                        <p>Disponibilidad inmediata: Contamos con un equipo de técnicos altamente capacitados disponibles para atender sus solicitudes de manera rápida y eficiente, sin importar la ubicación de su fundo agrícola.</p>
                        <p>Respuesta ágil: Brindamos respuestas rápidas y precisas a sus consultas y resolvemos sus problemas de forma oportuna para minimizar el tiempo de inactividad de sus equipos y repuestos.</p>
                        <p>Atención personalizada: Recibirá un trato amable y personalizado por parte de nuestro equipo, quienes están comprometidos a brindarle la mejor experiencia posible y ayudarlo a encontrar la solución adecuada a sus necesidades.</p>
                        <p>Amplia experiencia: Nuestro equipo técnico cuenta con años de experiencia en el mantenimiento, reparación y diagnóstico de equipos y repuestos agrícolas de diversas marcas y modelos, garantizando un servicio de alta calidad y confiabilidad.</p>
                    </div>
                    <div class="images">
                        <img src="/img/noticia_1.webp" alt="Fabricación 1">
                        <img src="/img/noticia_1.webp" alt="Fabricación 2">
                    </div>
                </div>
            </div>
        </section>
      </div>
  </div>
</body>
