<!--FORM-->
<div class="form-container">
  <h2>Agregue un nuevo equipo</h2>
  <form class="ticket-form" [formGroup]="formEquipo" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-group">
      <label for="title">Nombre</label>
      <input type="text" formControlName="nombre" id="nombre" name="nombre" required>
    </div>
    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea id="description" formControlName="descripcion" name="descripcion" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="title">Precio</label>
      <input type="text" formControlName="precio" id="precio" name="precio" required>
    </div>

    <div class="form-group">
      <label for="categoria_id">Categoría</label>
      <select id="categoria_id" formControlName="categoria_id" name="categoria_id" required>
        <option *ngFor="let categoria of categorias" [value]="categoria.categoria_id">{{ categoria.categoria_name }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="ficha">IMG</label>
      <input type="file" formControlName="img" id="img" name="img" required accept="image/*">
    </div>

    <div class="form-group">
      <label for="ficha">Ficha </label>
      <input type="file" formControlName="ficha_p" id="ficha_p" name="ficha_p" required accept="image/*">
    </div>

    <div class="form-group">
      <label for="pdf">PDF</label>
      <input type="url" formControlName="pdf" id="pdf" name="pdf" required placeholder="Ingrese la URL">
    </div>
    <button type="submit" class="submit-button" cdkFocusInitial type="submit" [disabled]="!formEquipo.valid">Agregar Equipo</button>
  </form>
</div>
<br>


<!--BUSCADOR-->
<div class="ticket-controls">
  <div class="search-container">
    <input type="text" placeholder="Buscar equipo" class="search-input">
    <button class="search-button">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <!-- <button class="add-ticket-button">Add Ticket</button> -->
</div>
<!--TABLA DE BD-->

<table class="task-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Categoría</th>
      <th>Ficha</th>
      <th>PDF</th>
      <th>Precio</th>
      <th>Action</th>
    </tr>
  </thead>
  @for (equipo of equipos; track $index){
  <tbody>
    <tr>
      <td>{{equipo.id}}</td>
      <td>
        <div class="title">{{equipo.nombre}}</div>
        <div class="subtitle">{{equipo.descripcion}}
        </div>
      </td>
      <td><span class="status in-progress">{{equipo.categoria_id}}</span></td>
      <td>
        <img src="http://localhost:3000{{equipo.img}}" alt="Imagen de {{equipo.nombre}}" class="small-img">
      </td>
      <td>{{equipo.pdf}}</td>
      <td>{{equipo.precio}}</td>
      <td class="action-icons">
        <i class="fas fa-edit" (click)="openDialogEdit(equipo)"></i>
        <i class="fas fa-trash" (click)="deleteProducto(equipo.id)"></i>
      </td>
    </tr>
    <!-- Repite este bloque para cada fila, cambiando los datos según corresponda -->
  </tbody>
  }
</table>


<!-- <div class="pagination">
  <span>Items per page:</span>
  <select>
    <option>5</option>
  </select>
  <span>1 - 5 of 10</span>
  <button disabled>&lt;</button>
  <button>&gt;</button>
  <button>&gt;|</button>
</div> -->
