<body>
  <div class="news-container">
    <!-- Blog Grid Start -->
    @for (noticias of noticia; track $index) {
      <div class="news-item">
        <div class="news-content">
          <div class="news-image">
            <img src="http://localhost:3000{{noticias.img}}" alt="Imagen de {{noticias.titulo}}" class="news-img">
          </div>
          <div class="news-overlay">
            <a href="{{ noticias.link }}" class="news-link" target="_blank">
              <h4 class="news-title">{{ noticias.titulo }}</h4>
            </a>
          </div>
          <p class="news-description">{{ noticias.texto_corto }}</p>
        </div>
      </div>
    }
    <!-- Blog Grid End -->
  </div>
</body>
