/* CSS para el grid de noticias */
.news-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
  gap: 5px; /* Espacio entre las noticias */
  padding: 60px;
  padding-left: 160px;
}

.news-item {
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 700px;

}

.news-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.news-content {
  position: relative;
  width: 700px;
}

.news-image {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  width: 700px;
}

.news-img {
  width: 100%;
  height: auto;
  display: block;
}

.news-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.news-item:hover .news-overlay {
  opacity: 1;
}

.news-link {
  text-decoration: none;
  color: #fff;
}

.news-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
  text-align: center;
}

.news-description {
  padding: 20px;
  margin: 0;
}


/* Media Queries */
@media (max-width: 1200px) {
  .news-item, .news-content, .news-image {
    width: 500px;
  }

  .news-container {
    padding-left: 100px;
  }
}

@media (max-width: 992px) {
  .news-container {
    grid-template-columns: 1fr; /* Una columna */
    padding: 30px;
    padding-left: 30px;
  }

  .news-item, .news-content, .news-image {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .news-title {
    font-size: 1.2rem;
  }

  .news-description {
    padding: 15px;
  }

  .news-overlay {
    padding: 15px;
  }
}

@media (max-width: 576px) {
  .news-container {
    padding: 10px;
    padding-left: 10px;
  }

  .news-title {
    font-size: 1rem;
  }

  .news-description {
    padding: 10px;
  }

  .news-overlay {
    padding: 10px;
  }
}
