<div class="hero-section">
  <h1>Registro de Categorías</h1>
</div>

<div class="agregar">
  <div class="titulo-boton">
    <h1>Agregar categorías</h1>
    <button class="btn-celeste" (click)="openDialogCreate()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>

<!--TABLA DE BD-->

<table class="task-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción </th>
      <th>Acciones</th>
    </tr>
  </thead>
  @for (categorias of categoria; track $index){
  <tbody>
    <tr>
      <td>
        <div class="title">{{categorias.categoria_name}}</div>
      </td>
      <td>
        <div class="title">{{categorias.description}}</div>
      </td>
      <td class="action-icons">
        <i class="fas fa-edit" (click)="openDialogEdit(categorias)"></i>
        <i class="fas fa-trash" (click)="deleteCategoria(categorias.categoria_id)"></i>
      </td>
    </tr>

  </tbody>
  }
</table>

<!-- <div class="pagination">
  <span>Items per page:</span>
  <select>
    <option>5</option>
  </select>
  <span>1 - 5 of 10</span>
  <button disabled>&lt;</button>
  <button>&gt;</button>
  <button>&gt;|</button>
</div> -->
