<p>categorias works!</p>

<!--FORM-->
<div class="form-container">
  <h2>Agregue una nueva categroría</h2>
  <form class="ticket-form">
    <div class="form-group">
      <label for="title">Nombre</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea id="description" name="description" rows="3"></textarea>
    </div>
    <button type="submit" class="submit-button">Agregar categoría</button>
  </form>
</div>
<br>
<!--BUSCADOR-->
<div class="ticket-controls">
  <div class="search-container">
    <input type="text" placeholder="Buscar categoría" class="search-input">
    <button class="search-button">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <!-- <button class="add-ticket-button">Add Ticket</button> -->
</div>
<!--TABLA DE BD-->

<table class="task-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="title">Katrina 2000</div>
        <div class="subtitle">Equipo espacializado para cultivos de
        </div>
      </td>
      <td class="action-icons">
        <i class="fas fa-edit"></i>
        <i class="fas fa-trash"></i>
      </td>
    </tr>
    <!-- Repite este bloque para cada fila, cambiando los datos según corresponda -->
  </tbody>
</table>


<!-- <div class="pagination">
  <span>Items per page:</span>
  <select>
    <option>5</option>
  </select>
  <span>1 - 5 of 10</span>
  <button disabled>&lt;</button>
  <button>&gt;</button>
  <button>&gt;|</button>
</div> -->
