
<!--FORM-->
<div class="form-container">
  <h2>Agregue una nueva categroría</h2>
  <form class="ticket-form" [formGroup]="formCategoria" (ngSubmit)="save()">
    <div class="form-group">
      <label for="title">Nombre</label>
      <input type="text" formControlName="categoria_name" id="categoria_name" name="categoria_name" required>
    </div>
    <div class="form-group">
      <label for="description">Descripción</label>
      <textarea id="description" formControlName="description" name="description" rows="3"></textarea>
    </div>
    <button type="submit"  class="submit-button" cdkFocusInitial type="submit" [disabled]="!formCategoria.valid">Agregar categoría</button>
  </form>
</div>
<br>
<!--BUSCADOR-->
<div class="ticket-controls">
  <div class="search-container">
    <input type="text" placeholder="Buscar categoría" class="search-input">
    <button class="search-button">
      <i class="fas fa-search"></i>
    </button>
  </div>
  <!-- <button class="add-ticket-button">Add Ticket</button> -->
</div>
<!--TABLA DE BD-->

<table class="task-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Action</th>
    </tr>
  </thead>
  @for (categorias of categoria; track $index){
  <tbody>
    <tr>
      <td>
        <div class="title">{{categorias.categoria_id}}</div>
      </td>
      <td>
        <div class="title">{{categorias.categoria_name}}</div>
        <div class="subtitle">{{categorias.description}}</div>
      </td>
      <td class="action-icons">
        <i class="fas fa-edit" (click)="openDialogEdit(categorias)"></i>
        <i class="fas fa-trash" (click)="deleteCategoria(categorias.categoria_id)"></i>
      </td>
    </tr>

  </tbody>
  }
</table>

<!-- <div class="pagination">
  <span>Items per page:</span>
  <select>
    <option>5</option>
  </select>
  <span>1 - 5 of 10</span>
  <button disabled>&lt;</button>
  <button>&gt;</button>
  <button>&gt;|</button>
</div> -->
