<div class="hero-section">
  <h1>Registro de productos</h1>
</div>

<div class="agregar">
  <div class="titulo-boton">
    <h1>Agregar productos</h1>
    <button class="btn-celeste" (click)="openDialogAdd()">
      <i class="fas fa-plus"></i>
    </button>
  </div>

  <div class="search-container">
    <input type="text" class="search-input" placeholder="Buscar repuesto..." [(ngModel)]="searchTerm" (input)="applyFilter()">
    <i class="fas fa-search search-icon"></i>
  </div>
</div>

<table class="task-table">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Categoría</th>
      <th>Descripción</th>
      <th>Codigo Sunat</th>
      <th>Tipo Producto </th>
      <th>Tipo Existencia</th>
      <th>Compra</th>
      <th>Kardex</th>
      <th>Nombre comercial</th>
      <th>Stock Act.</th>
      <th>Stock Min.</th>
      <th>Stock Max.</th>
      <th>Peso</th>
      <th>Imagen</th>
      <th>Precio</th>
      <th>Acciones</th>
    </tr>
  </thead>

  @for (repuesto of filteredProducto | slice: (currentPage-1) * pageSize : currentPage * pageSize; track $index){
    <tbody>
      <tr>
        <td data-label="Producto">
          <div class="subtitle">{{repuesto.nombre_producto}}</div>
        </td>
        <td data-label="Categoría">
          <div class="subtitle">{{ getCategoriaNombre(repuesto.categoria_id) }}</div>
        </td>
        <td data-label="Descripción">
          <div class="subtitle">{{repuesto.descripcion_producto}}</div>
        </td>
        <td data-label="Codigo Sunat">
          <div class="subtitle">{{repuesto.codigo_sunat}}</div>
        </td>
        <td data-label="Tipo Producto">
          <span class="subtitle">{{repuesto.tipo_producto}}</span>
        </td>
        <td data-label="Tipo Existencia">
          <span class="subtitle">{{repuesto.tipo_existencia}}</span>
        </td>
        <td data-label="Compra">
          <div class="subtitle">{{repuesto.compra}}</div>
        </td>
        <td data-label="Kardex">
          <div class="subtitle">{{repuesto.kardex}}</div>
        </td>
        <td data-label="Nombre comercial">
          <div class="subtitle">{{repuesto.nombre_comercial}}</div>
        </td>
        <td data-label="Stock Act.">
          <div class="subtitle">{{repuesto.stock_actual}}</div>
        </td>
        <td data-label="Stock Min.">
          <div class="subtitle">{{repuesto.stock_minimo}}</div>
        </td>
        <td data-label="Stock Max.">
          <div class="subtitle">{{repuesto.stock_maximo}}</div>
        </td>
        <td data-label="Peso">
          <div class="subtitle">{{repuesto.peso}}</div>
        </td>
        <td data-label="Imagen">
          <img class="img-tabla" [src]="repuesto.imagen_url" alt="Imagen del producto">
        </td>
        <td data-label="Precio">
          <div class="subtitle">{{repuesto.precio}}</div>
        </td>
        <td data-label="Acciones">
          <div style="display: flex; justify-content: center; gap: 15px; align-items: center;">
            <i class="fas fa-edit" style="color: #326DE7; font-size: 20px; cursor: pointer;" (click)="openDialogEdit(repuesto)"></i>
            <i class="fas fa-trash" style="color: red; font-size: 20px; cursor: pointer;" (click)="onDelete(repuesto.producto_id)"></i>
          </div>
        </td>
      </tr>
    </tbody>
    }
</table>

<div class="pagination">
  <button class="page-link" [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
    <i class="fas fa-chevron-left"></i>
  </button>

  <button class="page-link" *ngFor="let page of getPaginationArray()"
          [class.active]="page === currentPage"
          (click)="changePage(page)">
    {{ page }}
  </button>

  <button class="page-link" [disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">
    <i class="fas fa-chevron-right"></i>
  </button>
</div>
