<!-- FORM -->
<div class="form-container">
  <h2>Agregue un nuevo repuesto</h2>
  <form class="ticket-form" [formGroup]="formRepuesto" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" formControlName="nombre" id="nombre" name="nombre" required>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripción</label>
      <textarea id="descripcion" formControlName="descripcion" name="descripcion" rows="3"></textarea>
    </div>
    <div class="form-group">
      <label for="title">Código</label>
      <input type="text" formControlName="codigo" id="codigo" name="codigo" required>
    </div>
    <div class="form-group">
      <label for="precio">Precio</label>
      <input type="text" formControlName="precio" id="precio" name="precio" required>
    </div>
    <div class="form-group">
      <label for="categoria_id">Categoría</label>
      <select id="categoria_id" formControlName="categoria_id" name="categoria_id" required>
        <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.nombre }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="img">IMG</label>
      <input type="file" formControlName="img" id="img" name="img" required accept="image/*">
    </div>
    <div class="form-group">
      <label for="pdf">PDF</label>
      <input type="url" formControlName="pdf" id="pdf" name="pdf" required placeholder="Ingrese la URL">
    </div>
    <button type="submit" class="submit-button" cdkFocusInitial [disabled]="!formRepuesto.valid">Agregar repuesto</button>
  </form>
</div>
<br>
<!-- BUSCADOR -->
<div class="ticket-controls">
  <div class="search-container">
    <input type="text" placeholder="Buscar repuesto" class="search-input">
    <button class="search-button">
      <i class="fas fa-search"></i>
    </button>
  </div>
</div>
<!-- TABLA DE BD -->
<table class="task-table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Categoría</th>
      <th>Imagen</th>
      <th>PDF</th>
      <th>Action</th>
    </tr>
  </thead>

  @for (repuesto of repuesto; track $index){
    <tbody>
      <tr>
        <td>{{repuesto.id}}</td>
        <td>
          <div class="title">{{repuesto.nombre}}</div>
          <div class="subtitle">{{repuesto.descripcion}}
          </div>
        </td>
        <td>
          <div class="title">{{repuesto.codigo}}</div>
        </td>
        <td>
          <img  src="http://localhost:3000{{repuesto.img}}" alt="Imagen de {{repuesto.nombre}}" class="small-img">
        </td>
        <td>
          <span class="status in-progress">{{repuesto.categoria_id}}</span>
        </td>

        <td>
          <div class="title">{{repuesto.precio}}</div>
        </td>
        <td class="action-icons">
          <i class="fas fa-edit" (click)="openDialogEdit(repuesto)"></i>
          <i class="fas fa-trash" (click)="deleteRepuesto(repuesto.id)"></i>
        </td>
      </tr>
      <!-- Repite este bloque para cada fila, cambiando los datos según corresponda -->
    </tbody>
    }
</table>
