<div class="hero-section">
  <h1>Registro de productos</h1>
</div>

<div class="agregar">
  <div class="titulo-boton">
    <h1>Agregar productos</h1>
    <button class="btn-celeste" (click)="openDialogAdd()">
      <i class="fas fa-plus"></i>
    </button>
  </div>
</div>

<table class="task-table">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Codigo Sunat</th>
      <th>Tipo </th>
      <th>Tipo 2</th>
      <th>Compra</th>
      <th>Kardex</th>
      <th>Nombre comercial</th>
      <th>Stock Min.</th>
      <th>Stock Max.</th>
      <th>Peso</th>
      <th>Imagen </th>
      <th>Acciones</th>
    </tr>
  </thead>

  @for (repuesto of producto; track $index){
    <tbody>
      <tr>
        <td>
          <div class="title">{{repuesto.nombre_producto}}</div>
          <div class="subtitle">{{repuesto.categoria_id}}
          </div>
        </td>
        <td>
          <div class="subtitle">{{repuesto.codigo_sunat}}</div>
        </td>
        <td>
          <span class="subtitle">{{repuesto.tipo_producto}}</span>
        </td>
        <td>
          <span class="subtitle">{{repuesto.tipo_existencia}}</span>
        </td>
        <td>
          <div class="subtitle">{{repuesto.compra}}</div>
        </td>
        <td>
          <div class="subtitle">{{repuesto.kardex}}</div>
        </td>
        <td>
          <div class="subtitle">{{repuesto.nombre_comercial}}</div>
        </td>
        <td>
          <div class="subtitle">{{repuesto.stock_minimo}}</div>
        </td>
        <td>
          <div class="subtitle">{{repuesto.stock_maximo}}</div>
        </td>
        <td>
          <div class="subtitle">{{repuesto.peso}}</div>
        </td>
        <td>
          <img class="img-tabla" [src]="repuesto.imagen_url" alt="Imagen del producto">
        </td>
        <td>
          <div style="display: flex; justify-content: center; gap: 15px; align-items: center;">
            <i class="fas fa-edit" style="color: #326DE7; font-size: 20px; cursor: pointer;"></i>
            <i class="fas fa-trash" style="color: red; font-size: 20px; cursor: pointer;" (click)="onDelete(repuesto.producto_id)"></i>
          </div>
        </td>
      </tr>
    </tbody>
    }
</table>
