<!-- <form [formGroup]="formEditRepuesto" (ngSubmit)="save()">
  <div>
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nombre" type="text">
    <div *ngIf="formEditRepuesto.get('nombre')?.invalid && formEditRepuesto.get('nombre')?.touched">
      <small>Nombre es requerido.</small>
    </div>
  </div>

  <div>
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" formControlName="descripcion"></textarea>
    <div *ngIf="formEditRepuesto.get('descripcion')?.invalid && formEditRepuesto.get('descripcion')?.touched">
      <small>Descripción es requerida.</small>
    </div>
  </div>

  <div>
    <label for="precio">Precio:</label>
    <input id="precio" formControlName="precio" type="number">
    <div *ngIf="formEditRepuesto.get('precio')?.invalid && formEditRepuesto.get('precio')?.touched">
      <small>Precio es requerido.</small>
    </div>
  </div>

  <div class="form-group">
    <label for="img">IMG</label>
    <input type="file" id="img" (change)="onFileChange($event, 'img')">
  </div>

  <div>
    <label for="categoria_id">Categoría:</label>
    <select id="categoria_id" formControlName="categoria_id">
      <option *ngFor="let categoria of categorias" [value]="categoria.categoria_id">{{ categoria.categoria_name }}</option>
    </select>
    <div *ngIf="formEditRepuesto.get('categoria_id')?.invalid && formEditRepuesto.get('categoria_id')?.touched">
      <small>Categoría es requerida.</small>
    </div>
  </div>

  <div>
    <label for="codigo">Código:</label>
    <input id="codigo" formControlName="codigo" type="text">
    <div *ngIf="formEditRepuesto.get('codigo')?.invalid && formEditRepuesto.get('codigo')?.touched">
      <small>Código es requerido.</small>
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="formEditRepuesto.invalid">Guardar</button>
    <button type="button" (click)="dialogRef.close()">Cancelar</button>
  </div>
</form> -->
