
<div class="hero-section">
  <h1>Contáctanos</h1>
</div>
<br>
<table class="task-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Celular</th>
      <th>Email</th>
      <th>Ciudad</th>
      <th>Mensaje</th>
      <th>Fecha de Registro</th>
    </tr>
  </thead>
  <tbody>
  @for (contactos of contacto; track $index) {
    <tr>
      <td data-label="Nombre">
        <div class="title">{{ contactos.nombre_usuario }}</div>
      </td>
      <td data-label="Celular">
        <div class="subtitle">{{ contactos.numero_usuario }}</div>
      </td>
      <td data-label="Email">
        <div class="subtitle">{{ contactos.correo_usuario }}</div>
      </td>
      <td data-label="Ciudad">
        <div class="subtitle">{{ contactos.ciudad_usuario }}</div>
      </td>
      <td data-label="Mensaje">
        <div class="subtitle">{{ contactos.mensaje }}</div>
      </td>
      <td data-label="Fecha de Registro">
        <div class="subtitle">{{ formatDate(contactos.fecha) }}</div>
      </td>
    </tr>
  }
  </tbody>
</table>
