<table class="task-table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Celular</th>
      <th>Email</th>
      <th>Ciudad</th>
      <th>Mensaje</th>
      <th>Fecha de Registro</th>
    </tr>
  </thead>
  <tbody>
    <!-- Ejemplo de bucle @for en Angular -->
    @for (contactos of contacto; track $index) {
      <tr>
        <td>
          <div class="title">{{ contactos.nombre_usuario }}</div>
        </td>
        <td>
          <div class="subtitle">{{ contactos.numero_usuario }}</div>
        </td>
        <td>
          <div class="subtitle">{{ contactos.correo_usuario }}</div>
        </td>
        <td>
          <div class="subtitle">{{ contactos.ciudad_usuario }}</div>
        </td>
        <td>
          <div class="subtitle">{{ contactos.mensaje }}</div>
        </td>
        <td>
          <div class="subtitle">{{ formatDate(contactos.fecha) }}</div>
        </td>
      </tr>
    }
  </tbody>
</table>
