.articulo-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.articulo-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.articulo-card h2 {
  font-size: 1.5em;
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}

.h5{
  font-family: "Poppins", sans-serif;
}
.articulo-card p {
  margin-bottom: 5px;
  font-family: "Poppins", sans-serif;
}

.articulo-card a {
  color: #007bff;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}

.articulo-card a:hover {
  text-decoration: underline;
}

.category-title {
  grid-column: 1 / -1;
  font-size: 2rem;
  font-weight: bold;
  color: #444;
  text-align: center;
  padding: 20px 0;
  margin: 10px 0 10px 0;
  border-bottom: 2px solid #ccc;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.category-title::after {
  content: "";
  width: 100px;
  height: 3px;
  background-color: #326DE7;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}
